<div class="manage-requests-container">
  <h2>Gestione richieste</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Auto richiesta</th>
        <th>Stato</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requestsCar">
        <td>{{ request.id }}</td>
        <td>{{ request.user_id }}</td>
        <td>{{ request.car_id }}</td>
        <td>{{ request.status }}</td>
        <td>
          <ng-container *ngFor="let action of tableConfig.actions?.actions">
            <button 
              *ngIf="action?.visible(request)" 
              (click)="handleActionClick(action.name, request)">
              {{ action.name }}
            </button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
