<div class="add-car-container">
  <h2>Aggiungi una nuova auto</h2>
  <form (ngSubmit)="onSubmit()" #carForm="ngForm">
    <div class="form-group">
      <label for="brand">Marca</label>
      <input type="text" id="brand" name="brand" [(ngModel)]="car.brand" #brand="ngModel" required>
      <div *ngIf="brand.invalid && brand.touched" class="error-message">
        Il campo "Marca" è obbligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="model">Modello</label>
      <input type="text" id="model" name="model" [(ngModel)]="car.model" #model="ngModel" required>
      <div *ngIf="model.invalid && model.touched" class="error-message">
        Il campo "Modello" è obbligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="license_plate">Targa</label>
      <input type="text" id="license_plate" name="license_plate" [(ngModel)]="car.license_plate" #license_plate="ngModel" required>
      <div *ngIf="license_plate.invalid && license_plate.touched" class="error-message">
        Il campo "Targa" è obbligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="status">Stato</label>
      <select id="status" name="status" [(ngModel)]="car.status" #status="ngModel" required>
        <option value="Disponibile">Disponibile</option>
        <option value="In uso">Non disponibile</option>
        <option value="Manutenzione">Manutenzione</option>
      </select>
      <div *ngIf="status.invalid && status.touched" class="error-message">
        Il campo "Stato" è obbligatorio.
      </div>
    </div>
    <button type="submit" [disabled]="!carForm.form.valid">Aggiungi auto</button>
  </form>
</div>
