<div class="navbar-user">
    <span>Benvenuto, {{ username }}</span>
    <button (click)="logout()">Logout</button>
</div>

<app-navbar [buttons]="currentUserRole === 'ADMIN' ?buttonConfigsAdmin : buttonConfigsUser">
    <app-button *ngFor="let buttonConfig of (currentUserRole === 'ADMIN' ?buttonConfigsAdmin : buttonConfigsUser)"
    [config]="{ label: buttonConfig.label }"
    (click)="buttonConfig.action()">
    </app-button>
</app-navbar>

<app-table [config]="userType === 'CUSTOMER' ? tableCustomerConfig : tableAdminConfig" 
           [data]="requests" 
           (clickAction)="handleActionClick($event.action, $event.data)">
    <tbody>
      <ng-container *ngFor="let request of requests">
        <tr>
          <td>{{ request.id }}</td>
          <td>{{ request.status }}</td>
          <td>{{ request.start_reservation ? (request.start_reservation | date:'dd/MM/yyyy') : 'N/A' }}</td>
          <td>{{ request.end_reservation ? (request.end_reservation | date:'dd/MM/yyyy') : 'N/A' }}</td>
          <td>{{ request.created_at ? (request.created_at | date:'dd/MM/yyyy') : 'N/A' }}</td>
          <td>{{ request.updated_at ? (request.updated_at | date:'dd/MM/yyyy') : 'N/A' }}</td>
          <td>{{ request.carDetails }}</td> 
        </tr>
      </ng-container>
    </tbody>
</app-table>

