<div *ngIf="userType === 'ADMIN'"> 
    <h2>Welcome admin</h2>
</div>

<div *ngIf="userType === 'CUSTOMER'"> 
    <h2>Welcome user</h2>
</div>

<app-navbar></app-navbar>

<div *ngIf="isLogged">
    <app-table [config]="userType === 'CUSTOMER' ? tableCustomerConfig : tableAdminConfig" [data]="requests">
        <tbody>
        <ng-container *ngFor="let request of requests">
            <tr>
              <td>{{ request.id }}</td>
              <td>{{ request.status }}</td>
              <td>{{ request.start_reservation ? (request.start_reservation | date:'dd/MM/yyyy') : 'N/A' }}</td>
              <td>{{ request.end_reservation ? (request.end_reservation | date:'dd/MM/yyyy') : 'N/A' }}</td>
              <td>{{ request.car_id }}</td>
            </tr>
        </ng-container>
    </tbody>
    </app-table>
</div>

<!-- <button class="login-container" (click)="authService.logout()">Logout</button> -->