<div *ngIf="userData" class="edit-user-container">
  <h3>Modifica Utente</h3>
  <form>
    <div *ngFor="let key of objectKeys(userData)">
      <div class="form-group" *ngIf="key !== 'role'">
        <label>{{ capitalize(key) }}</label>
        <input type="text" [value]="userData[key]" />
      </div>
    </div>

    <div *ngIf="userData.role" class="form-group">
      <label for="role">Ruolo utente</label>
      <select id="role" [(ngModel)]="userData.role" name="role">
        <option *ngFor="let role of roleOptions" [value]="role">
          {{ role }}
        </option>
      </select>
    </div>

 <app-button
  *ngFor="let button of buttonConfig"
  [config]="{ label: button.label, action: button.action }">
</app-button>

  </form>
</div>
