table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  cursor: pointer; /* Proprietà per indicare che è cliccabile */
}

.sort-icon {
  margin-left: 5px;
}

th input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination span {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination span.active {
  font-weight: bold;
  color: #007bff;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
}

button:hover {
  background-color: #ddd;
}